body {
  margin: 0;
  padding: 0;
  background-color: #699aa4 !important;
  overflow-x: hidden;

}

.nav-style {
  background-color: #699aa4 !important;
  padding: 0 21rem 0 21rem !important;
}

.nav-item {
  margin: 2rem 0 0 2rem;
  font-size: 1.2rem;
  position: relative;
  color: white;
  cursor: pointer;
  font-family: 'Mirza', cursive;
}



.navi-link {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.navi-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bae7f1;


}

.navi-link:hover {
  color: white;
  text-decoration: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bae7f1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  visibility: visible;
  transform: scaleX(1);


}

.logo-words {
  margin: 2rem 0 0 0;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Antonio', sans-serif;
}

.logo-picture {
  height: 100px;
  width: 150px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .5s linear;
}


.fade-exit-done {
  opacity: 1;
  transition: all 500ms ease-out;
}

.home {
  display: flex;
  padding-top: 20rem;
  background-color: #699aa4;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  position: relative;
}

.join-button {
  margin: 3rem 0 0 1rem;
  border: none;
  background-color: #00203C;
  color: white;
  width: 230px;
  height: 70px;
  font-size: 23px;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s ease-in-out;
  font-family: 'Mirza', cursive;
}

.join-button:hover {
  background-color: #bae7f1;
  color: black;
}

.rocket-image {
  height: 275px;
  width: 310px;
  padding-right: 5rem;
}

.landing-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3rem;
}

.landing-info {
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 18%;
}

.landing-paragraph {
  min-width: 450px;
  max-width: 875px;
  color: white;
}

/*SERVICES*/

.services {
  height: 100%;
  background-color: white;
  padding-top: 9rem;
}

.service-card-control {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.service-list-style {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-family: 'Mirza', cursive;
}

li {
  list-style-type: none;
}

.service-card {
  height: 650px;
  width: 600px;
  background-image: linear-gradient(180deg, #699aa4, white);
}



/*ABOUT OUR TEAM*/

.our-team {
  height: auto;
  background-color: white;
  padding-top: 9rem;
}

.team-card {
  height: 554px;
  width: 400px;
  margin-left: 7rem;
  margin-bottom: 2rem;
  background-color: #699aa4;
  border: 2px solid black;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  font-family: 'Mirza', cursive;
  font-size: 3rem;
}

.section-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #699AA4;
  transform: scaleX(.08);
}

.team-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 6rem;
  justify-content: center;
  padding-top: 2rem;
}


.member-image {
  width: 396px;
  height: 550px;
}

.hover-name {
  text-align: center;
  padding-top: 1rem;
  text-decoration: underline;
  color: rgb(245, 245, 245);
}

.member-excerpt {
  height: auto;
  font-size: 1.2rem;
  text-align: justify;
  padding: 1.5rem;
  color: rgb(245, 245, 245);
}

/*CONCTACT US*/

#contact {
  height: auto;
  background-color: white;
}

/* FAQ*/

#faq {
  padding: 11rem 3rem 12rem 3rem;
  height: auto;
  background-color: white;
}

.expander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.expand-icon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: black;
}

.expand-icon::after {
  transform: translateY(-10px);
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.expand-icon {
  margin-top: .8rem;
  width: 20px;
  background-color: black;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.expander.open .expand-icon {
  background: transparent;
  transform: rotate(180deg);
}

.expander.open .expand-icon::after {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.question {
  margin-left: 2.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: 'Mirza', cursive;
}

.answer {
  padding-left: 3rem;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

/*FOOTER*/

.footer {
  position: absolute;
  height: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(245, 245, 245);
}




@media only screen and (max-width:1200px) {
  .nav-style {
    padding: 0 2rem 0 2rem !important;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 15%;
  }
}

@media only screen and (max-width:1000px) {
  .nav-style {
    padding: 0 2rem 0 2rem !important;
  }

  .rocket-image {
    height: 275px;
    width: 310px;
    margin: 5rem 5rem 0 0;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 5%;
  }

}


@media only screen and (max-width:965px) {
  .rocket-image {
    height: 275px;
    width: 310px;
    margin: 3rem 5rem 0 0;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 5%;
  }

  .home {
    height: 110vh;
  }
}

@media only screen and (max-width:850px) {
  .rocket-image {
    display: none;
  }
}

@media only screen and (max-width:550px) {

  .landing-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.7rem;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 25%;
    left: 5%;
  }

  .landing-paragraph {
    font-size: 1.3rem;
    min-width: 350px;
  }

  .team-card {
    height: 554px;
    width: 350px;
    margin-left: 7rem;
    margin-bottom: 2rem;
    background-color: #699aa4;
    border: 2px solid black;
  }

  .member-image {
    width: 346px;
  }

  .logo-words {
    font-size: 2rem !important;
  }
}


@media only screen and (max-width:375px) {


  .team-card {
    height: 554px;
    width: 300px;
    margin-left: 7rem;
    margin-bottom: 2rem;
    background-color: #699aa4;
    border: 2px solid black;
  }

  .member-image {
    width: 296px;
  }

}