body {
  margin: 0;
  padding: 0;
  background-color: #699aa4 !important;
  overflow-x: hidden;

}

.nav-style {
  background-color: transparent !important;
  padding: 0 25rem 0 25rem !important;
  opacity: 0.9;
  transition: all .3s ease-in-out;
}

.nav-style.scroll {
  background-color: #699aa4 !important;
}

.nav-item {
  margin: 0 0 0 2rem;
  font-size: 1rem;
  position: relative;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}



.navi-link {
  text-decoration: none;
  color: white;

}

.navi-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bae7f1;


}

.navi-link:hover {
  color: white;
  text-decoration: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bae7f1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  visibility: visible;
  transform: scaleX(1);


}



.logo-words {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style: none;
  color: white;
}

.logo-image {
  height: 100px;
  width: 75px;
  margin-right: 1.5rem;
}

.fade {
  transition: all 500ms ease-in-out;
}

.fade-enter {
  opacity: 0;

}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.fade-exit-done {
  opacity: 1;

}

.home {
  display: flex;
  background-color: #699aa4;
  background-image: url('finance.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  opacity: .3;
  position: relative;
}

.join-button {
  margin: 3rem 0 0 0rem;
  border: none;
  background-color: #00203C;
  color: white;
  width: 225px;
  height: 50px;
  font-size: 17px;
  border-radius: 50px 50px 50px 50px;
  transition: all .4s ease-in-out;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}

.join-button:hover {
  background-color: #bae7f1;
  color: black;
  transform: translateY(-5px)
}

.elite-program-padding {
  padding-left: 1rem;
}

.rocket-image {
  height: 200px;
  width: 225px;
  padding-right: 5rem;
  margin-top: 6rem;
}

.landing-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3rem;

}

.landing-info {
  position: absolute;
  bottom: 0;
  top: 25%;
  left: 21.5%;
}

.landing-paragraph {
  min-width: 450px;
  max-width: 600px;
  color: white;
}

/*SERVICES*/

.services {
  height: 100%;
  background-color: white;
  padding-bottom: 2rem;

}

.service-card-title {
  padding-top: 1rem;
  padding-left: 3rem;
  font-family: 'Martel', serif;
}

.service-card-number {
  padding-top: 2.3rem;
  padding-left: 3rem;
  font-family: 'Martel', serif;
  font-size: 4rem;
}

.service-card-control {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.service-list-style {
  padding-top: 1.5rem;
  font-size: 1.1rem;
  font-family: 'Mirza', cursive;
}

li {
  list-style-type: none;
  padding: 0 0 .8rem 0;
  color: #666666;
  font-family: 'Roboto', sans-serif;
}

.service-card {
  height: auto;
  width: 500px;
  background-color: white;
  box-shadow: 0px 0px 12px #d3d3d3;
  border-top: 5px solid #86c0cc;
  border-bottom: 5px solid #86c0cc;
  border-radius: 5px 5px 0 0;
}


/* FEATURES */

#features {
  background-color: #f3f5fa;
  height: auto;
  padding-bottom: 2rem;

}

.feature-container {
  padding-top: 2rem;
}

.feature-card {
  background-color: #ffffff;
  height: auto;
  width: 275px;
  margin: 2rem 2rem 2rem 2rem;
  box-shadow: 0px 0px 12px #d3d3d3;
  transition: all 0.5s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-info {
  padding: 2rem 1rem 1rem 1rem;
  min-width: 150px;
}


/* GET STARTED*/

#get-started {
  background-image: url('building.jpg');
  min-height: 400px;
  height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: relative;
}

.get-started-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: -60%;
  left: 13%;
  right: 11%
}

.get-started-button {
  border: none;
  background: transparent;
  width: 175px;
  height: 50px;
  border: solid 1px white;
  border-radius: 50px;
  color: white;
  transition: all .3s ease-in-out;
}



.get-started-button:hover {
  background: #00203C;
  border: solid 1px #00203C;
}

.get-started-info {
  padding-right: 3rem;
  color: white;
}

/*ABOUT OUR TEAM*/

.our-team {
  height: auto;
  background-color: #f3f5fa;
}

.team-card {

  height: auto;
  width: 450px;
  margin-left: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px #d3d3d3;
  transition: all 0.5s ease;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  font-family: 'Mirza', cursive;
  font-size: 2.3rem;
}

.section-title:after {
  position: absolute;
  bottom: -10%;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #699AA4;
  transform: scaleX(.08);
}

.team-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start !important;

}


.member-image {
  width: 110px;
  height: 110px;
  border-radius: 100px;
}

.hover-name {
  text-align: center;
  padding-top: 1rem;
  text-decoration: underline;
  color: rgb(245, 245, 245);
}

.member-excerpt {
  height: auto;
  font-size: 0.8rem;
  text-align: justify;
  padding: 1.5rem;
  color: #0e0e0e;
}

/*CONTACT US*/

#contact {
  height: auto;
  background-color: white;
  padding-bottom: 2rem;
}

.contact-card {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 300px;
  height: 150px;
  background-color: black;
  background-color: white;
  border-top: 3px solid #699aa4;
  border-bottom: 3px solid #699aa4;
  box-shadow: 0px 0px 12px #d3d3d3;
  border-radius: 5px 5px 0 0;
}


/* FAQ*/

#faq {
  padding: 0 3rem 8rem 3rem;
  height: auto;
  background-color: #f3f5fa;
}

.faq-box {
  display: flex;
  height: auto;
  width: auto;
  background-color: white;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 12px #bebebe;
  transition: all 1s ease;

}

.expander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  transition: all 1s ease-in-out;
}

.expand-icon::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: black;
  transform: translateY(-10px);
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.expand-icon {
  padding-right: 1.1rem;
  margin: 1.3rem 1rem 0 1rem;
  width: 18px;
  background-color: black;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.expander.open .expand-icon {
  background: transparent;
  transform: rotate(180deg);
}

.expander.open .expand-icon::after {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.question {
  margin-left: 2.5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  transition: all 0.2s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

.question.change {

  color: #699aa4;
}

.answer {
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/*FOOTER*/

.footer {
  position: absolute;
  height: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(245, 245, 245);
}


p {
  font-family: 'Nunito Sans', sans-serif;
}



@media only screen and (max-width:1200px) {
  .get-started-container {
    bottom: -90%;
    left: 15%;
  }

  .nav-style {
    padding: 0 2rem 0 2rem !important;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 15%;
  }

  .team-card {
    margin-left: 0;
  }
}

@media only screen and (max-width:1000px) {

  .nav-style {
    padding: 0 2rem 0 2rem !important;
  }

  .rocket-image {
    height: 275px;
    width: 310px;
    margin: 5rem 5rem 0 0;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 5%;
  }

}


@media only screen and (max-width:965px) {
  .get-started-container {
    bottom: -135%;
    left: 18%;
  }

  .rocket-image {
    height: 275px;
    width: 310px;
    margin: 3rem 5rem 0 0;
  }

  .landing-info {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 5%;
  }

  .home {
    height: 110vh;
  }

  .team-card {
    margin-left: 8rem;
  }
}

@media only screen and (max-width:850px) {
  .rocket-image {
    display: none;
  }
}

@media only screen and (max-width:810px) {
  .elite-program-padding {
    padding: 0 2rem 0 0;
  }
}

@media only screen and (max-width:769px) {
  .rocket-image {
    display: none;
  }

  .get-started-container {
    bottom: -135%;
    left: 20%;
  }

  .team-card {
    margin-left: 0rem;
  }

}

@media only screen and (max-width:701px) {
  .get-started-container {
    bottom: -145%;
  }
}



@media only screen and (max-width:550px) {

  .team-card {
    margin-left: 2rem;
  }

  .logo-words {
    font-size: 2rem !important;
  }
}


@media only screen and (max-width:521px) {


  .get-started-container {
    bottom: -150%;
    left: 20%;
  }
}

@media only screen and (max-width:515px) {


  .get-started-container {
    bottom: -150%;
    left: 20%;
  }
}

@media only screen and (max-width:505px) {
  .team-card {
    margin-left: 1rem;
  }

  .get-started-container {
    bottom: -165%;
    left: 20%;
  }
}

@media only screen and (max-width:414px) {

  .get-started-container {
    bottom: -195%;
    left: 20%;
  }

  .team-card {
    width: 375px;
  }

}


@media only screen and (max-width:412px) {
  .landing-title {
    font-size: 2.5rem;
  }

  .logo-image {
    height: 75px;
    width: 50px;
    margin-right: 1.5rem;
  }

  .nav-style {
    background-color: #699aa4 !important;

  }
}

@media only screen and (max-width:376px) {

  .get-started-container {
    bottom: -205%;
    left: 20%;
  }

  .team-card {
    width: 340px;
  }

}

@media only screen and (max-width:365px) {


  .team-card {
    width: 300px;
  }

}