body{
  margin: 0;
  padding: 0;
  background-color: #699aa4 !important;
}

.nav-item{
margin:2rem 0 0 2rem;
font-size: 1rem;
position: relative;
color:white;
cursor: pointer;
}

.nav-item:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bae7f1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover:before{
  visibility: visible;
  transform: scaleX(1);
  
}

.logo-words{
  margin: 2rem 0 0 0;
  font-size:3rem;
  text-decoration:none;
  list-style: none;
  color:white;
}

.logo-picture{
  height:100px;
  width:150px;
}

.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity .5s linear;
}


.fade-exit-done{
  opacity:1;
  transition: all 500ms ease-out;
}

#home{
  display:flex;
  margin-top: 14rem;
  margin-bottom: 6rem;
  height:auto;
}

.join-button{
  margin: 3rem 0 0 0;
  border:none;
  background-color:#00203C;
  color:white;
  width: 190px;
  height: 60px;
  font-size:20px;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s ease-in-out;
}

.join-button:hover{
  background-color: #bae7f1;
  color:black;
}

/*SERVICES*/

#services{
  height:100vh;
  background:white;
}

.service-card{
  height:300px;
  width:300px;
  margin-left:7rem;
  margin-bottom:2rem;
  background-color:#699aa4;
  border: 2px solid black;
}



/*ABOUT OUR TEAM*/

#our-team{
  height:auto;
  background-color:white;
}

.team-card{
  height:504px;
  width:400px;
  margin-left:7rem;
  margin-bottom:2rem;
  background-color:#699aa4;
  border: 2px solid black;
}

.section-title{
  text-align:center;
  padding-top: 2rem;
  position: relative;
}

.section-title:after{
  position: absolute;
  bottom:0;
  left:0;
  content:"";
  width:100%;
  height:2px;
  background-color:#699AA4;
  transform:scaleX(.08);
}

.team-cards-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-right:6rem;
  justify-content: center;
  padding-top:2rem;
}

.member-image{
  width:396px;
  height:500px;
}

.hover-name{
  text-align:center;
  padding-top:1rem;
  text-decoration: underline;
  color:rgb(245, 245, 245);
}

.member-excerpt{
  height:auto;
  font-size:1.2rem;
  text-align:justify;
  padding:1.5rem;
  color:rgb(245, 245, 245);
}

/*CONCTACT US*/

#contact{
  height:100vh;
  background-color:white;
}

/* FAQ*/

#faq{
  height:100vh;
  background-color:white;
}

.expander{
  display:flex;
  flex-direction: row;
  justify-content:center;
  height:auto;
}

.expand-icon::after{
  content:'';
  position:absolute;
  width:20px;
  height:3px;
  background-color:black;
}

.expand-icon::after{
  transform: translateY(-10px);
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}

.expand-icon{
  margin-top:.8rem;
  width:20px;
  background-color:black;
  height:3px;
  transition: all 0.5s ease-in-out;
}

.expander.open .expand-icon{
  background: transparent;
}
.expander.open .expand-icon::after{
  transform: rotate(90deg);
  transform: translateY(0);
}

/*FOOTER*/

.footer{
  position:absolute;
  height:50px;
  left:0;
  width:100%;
  text-align:center;
  color:rgb(245, 245, 245);
}